<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uqac.dim.muscuboost">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/schedule_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TrainingShowcaseActivity"
            android:label="@string/training_showcase_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainActivity"
            android:label="@string/train_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".ChronoActivity"
            android:label="@string/chrono_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ExerciseListActivity"
            android:label="@string/exercise_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.AddExerciseActivity"
            android:label="@string/add_exercise_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExerciseListActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.EditExerciseActivity"
            android:label="@string/add_exercise_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExerciseListActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.ExerciseDetailsActivity"
            android:label="@string/details_name" />
        <activity
            android:name=".StatActivity"
            android:label="@string/statistics_name"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:label="@string/profil_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParametersActivity"
            android:label="@string/settings_name"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/profil_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".TrainService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ChronoService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>